@charset "UTF-8";
body{
    background-color: aqua;
}
h1#principal{
    color: rgb(174, 0, 255);
}
h1{
    color: rgb(228, 66, 7);
}
h2{
    color: blue;
}
.basico{
    color:orangered;
}
.sai{
    color: blue;
}
.ama{
    color: yellow;
}